<div class="container-fluid py-5 mt-5 mb-4 footer">
    <div class="container">
        <div class="row justify-content-center position-relative">
            <div>
                <ul class="nav justify-content-center nav-principale mt-3 mb-5 pb-5">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('<front>') }}#about">à propos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('<front>') }}#concerts">concerts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('<front>') }}#albums">albums</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('<front>') }}#photos">photos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('<front>') }}#videos">vidéos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/espace-pro">espace pro</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row justify-content-center position-relative my-5 pb-4">
            <a href="{{ url('<front>') }}">
                <img src="{{ url('<front>') }}{{ directory }}/images/logo.png">
            </a>
        </div>

    </div>
</div>

<ul class="nav justify-content-center my-3">
    {% include directory ~ '/templates/includes/rs.html.twig' %}
</ul>

<div class="container mb-3">
    <div class="row justify-content-around">
        <div class="col text-align-center">
            <a href="/mentions-legales" data-toggle="modal" data-target="#mentions">Mentions légales</a> - Ladislava {{ "now"|date("Y") }} - Tous droits réservés
        </div>
    </div>
</div>

<div class="modal fade" id="mentions" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mentions légales</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Éditeur</h4>
                <ul>
                    <li>Emmanuelle et Olivier Lombard<br/>
                        55 rue Anatole France<br/>
                        54000 Nancy<br/>
                        France<br/>
                        ladislava54@gmail.com<br/>
                        06 45 47 46 39 / 06 78 86 88 06
                    </li>
                </ul>
                <h4>Conception</h4>
                <ul>
                    <li>Marion Coene</li>
                </ul>
                <h4>Graphisme</h4>
                <ul>
                    <li>Marion Coene</li>
                    <li>Coralie Perrichot</li>
                </ul>
                <h4>CMS</h4>
                <ul>
                    <li>Drupal 8</li>
                </ul>
                <h4>Hébergement</h4>
                <ul>
                    <li>OVH<br/>
                        2 rue Kellermann<br/>
                        59100 Roubaix<br/>
                        France
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<button class="btn" type="button" id="return-to-top">
    <img src="{{ url('<front>') }}{{ directory }}/images/up.png">
</button>