<li class="list-inline-item">
    <a target="_blank" href="https://twitter.com/ladislava54">
        <img src="{{ url('<front>') }}{{ directory }}/images/twitter.png">
    </a>
</li>
<li class="list-inline-item">
    <a target="_blank" href="https://www.facebook.com/ladislava54/">
        <img src="{{ url('<front>') }}{{ directory }}/images/facebook.png">
    </a>
</li>
<li class="list-inline-item">
    <a target="_blank" href="https://www.instagram.com/duo_ladislava/">
        <img src="{{ url('<front>') }}{{ directory }}/images/instagram.png">
    </a>
</li>
<li class="list-inline-item">
    <a target="_blank" href="https://www.youtube.com/channel/UCT4qdIs6My7-_Rvv5fetLKQ">
        <img src="{{ url('<front>') }}{{ directory }}/images/youtube.png">
    </a>
</li>
<li class="list-inline-item">
    <a target="_blank" href="https://soundcloud.com/ladislava54">
        <img src="{{ url('<front>') }}{{ directory }}/images/soundcloud.jpg">
    </a>
</li>